@use "../main.scss";

html{
    scroll-behavior: smooth;
}


.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #BB2339 !important;
}

#navbar {
    background: #BB2339;
    height: 80px;
}


.nav-link {
    margin-left: 40px;
}
.nav-link:last-child{
    margin-right: 20px !important;
}


.login {
    border: 1px solid white;
    border-radius: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-left: 10px;
    padding-left: 200px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    align-items: center;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-link {
    color: #FFFFFF !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;

    &:hover {
        color: #cacaca !important;
    }
}

.offcanvas-header {
    background: #8a263a;
}

.offcanvas-body {
    background: #BB2339;
}

@media (min-width: 768px) {
    .nav-link {
        color: #fff !important;
        font-family: "Open Sans", sans-serif;
        font-weight: 400 !important;
        font-size: 19px !important;
        line-height: 22px !important;
    }

    .login {
        font-size: 19px !important;
    }

}