* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}
@font-face {
  font-family: "PLUS Rounded";
  src: url(../../fonts/MPLUSRounded1c-Medium.ttf);
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url(../vendors/fonts/MPLUSRounded1c-Medium.ttf);
}
#about {
  margin-top: 190px;
}

.about__content {
  text-align: center;
}
.about__content h1 {
  font-style: normal;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

.about__content--info {
  padding-top: 40px;
  max-width: 640px;
  margin: 0 auto;
}
.about__content--info img {
  width: 100%;
  margin: 30px 0;
}
.about__content--info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #242424;
  opacity: 0.8;
}

@media (min-width: 600px) {
  .about__content h1 {
    font-size: 64px;
  }
  .about__content--info p {
    font-size: 20px;
  }
}