* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}
@font-face {
  font-family: "PLUS Rounded";
  src: url(../../fonts/MPLUSRounded1c-Medium.ttf);
}
footer {
  background: #BB2339;
  width: 100%;
  margin-top: 250px;
}

.foterrr {
  height: 800px;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.tewsletter {
  max-width: 1416px;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -200px;
  background: #BB2339;
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
}
.tewsletter h4 {
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  padding-top: 30px;
  color: white;
}
.tewsletter h2 {
  text-align: center;
  padding-top: 15px;
  font-style: normal;
  font-size: 38px;
  text-align: center;
  color: #FFFFFF;
}
.tewsletter p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 15px;
  font-size: 12px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.form {
  text-align: center;
}
.form input {
  display: block;
  margin: 0 auto;
  height: 52px;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(245, 239, 219, 0.5);
  color: #AAAAAA;
  font-size: 20px;
}
.form button {
  height: 52px;
  margin-bottom: 20px;
  border-radius: 25px;
  width: 140px;
  color: rgba(255, 255, 255, 0.736);
  font-family: sans-serif;
  font-size: 16px;
  background-color: rgba(0, 0, 255, 0);
  border: 2px solid rgba(245, 239, 219, 0.5);
}

.footer__card {
  margin-top: 20px;
  text-align: center;
  color: white;
}
.footer__card h2 {
  margin-bottom: 24px;
}
.footer__card span {
  padding-bottom: 10px;
  display: inline-block;
}

.footer__logo {
  text-align: center;
  color: white;
  max-width: 323px;
  margin: 0 auto;
}
.footer__logo img {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 15px;
}
.footer__logo span {
  padding-bottom: 30px;
  display: inline-block;
}
.footer__logo .footer__icon img {
  margin-top: 80px;
  margin-left: 14px;
  margin-right: 15px;
  margin-bottom: 82px;
  width: 30px;
  height: 30px;
}

@media (min-width: 670px) {
  .footer__box {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__card {
    margin-top: 90px;
  }
  .tewsletter {
    max-width: 1416px;
    background: #BB2339;
    margin: 0 auto;
    margin-top: -220px;
  }
  .tewsletter h4 {
    font-size: 23px;
    padding-top: 60px;
  }
  .tewsletter h2 {
    padding-top: 25px;
    font-size: 48px;
  }
  .tewsletter p {
    padding-top: 24px;
    font-size: 16px;
  }
  .form {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-top: 60px;
  }
  .form input {
    margin: 0px;
    width: 50%;
  }
  .form button {
    margin-left: 20px;
    margin-bottom: 60px;
  }
}