* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}
@font-face {
  font-family: "PLUS Rounded";
  src: url(../../fonts/MPLUSRounded1c-Medium.ttf);
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url(../vendors/fonts/MPLUSRounded1c-Medium.ttf);
}
#chase {
  padding-top: 130px;
  background-color: #BB2339;
}

.chase__top--left h4 {
  font-weight: 700;
  font-size: 16px;
  font-family: "PLUS Rounded";
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
.chase__top--left h1 {
  font-style: normal;
  font-weight: 700;
  font-family: "PLUS Rounded";
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0.04em;
  padding-top: 25px;
  color: #ffffff;
  padding-bottom: 20px;
  text-transform: capitalize;
  max-width: 5200px;
}
.chase__top--left p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.7;
  max-width: 430px;
  padding-bottom: 45px;
}
.chase__top--left a {
  font-family: "PLUS Rounded";
  font-style: normal;
  border: 1px solid #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  border-radius: 20px;
  /* identical to box height, or 28px */
  padding: 10px 18px;
  letter-spacing: 0.04em;
  opacity: 0.8;
  max-width: 260px;
  color: #FFFFFF;
  margin: 0 auto;
}

.chase__top--right {
  width: 100%;
  margin-top: 55px;
  padding-bottom: 80px;
}
.chase__top--right img {
  width: 100%;
}

.corousel1 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
  font-family: "PLUS Rounded";
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

.owl-dots {
  display: none !important;
}

#popular__menu {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.item {
  background-color: #ffffff;
  padding: 20px 15px 40px;
  border-radius: 14px;
}
.item p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #242424;
  margin-top: 10px;
  margin-bottom: 20px;
}
.item .yulduzlar {
  width: 60% !important;
  text-align: center;
  margin: 0 auto;
}
.item h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding-top: 16px;
  color: #BB2339;
}

.owl-theme {
  position: relative;
}

.corousel1 h3 {
  font-family: "PLUS Rounded";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 28px;
  color: #BB2339;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

.corousel_1 .owl-nav [class*=owl-next] {
  color: #242424;
  font-size: 18px !important;
  margin: 30px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  width: 45px;
  position: absolute;
  top: -70px;
  right: 20px;
  border: 2px solid rgb(224, 16, 16) !important;
}

.corousel_1 .owl-nav [class*=owl-prev] {
  color: #242424;
  font-size: 18px !important;
  margin: 30px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  width: 45px;
  position: absolute;
  top: -70px;
  right: 80px;
  border: 2px solid rgb(224, 16, 16) !important;
}

.element.style {
  display: inline-block !important;
}

.ap-tab-list {
  grid-gap: 15px;
}
.ap-tab-list .ap-tab-item {
  border: 1px solid #BB2339;
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-bottom: 15px;
  display: inline-block;
}
.ap-tab-list .ap-tab-item .ap-tab-link {
  transition: 0.5s;
  border-radius: 25px;
  display: inline-block;
  color: #242424;
  padding: 8px 24px;
}
.ap-tab-list .ap-tab-item .ap-tab-link:hover {
  background-color: #BB2339;
  color: #ffffff !important;
}
.ap-tab-list .active-tab {
  background-color: #BB2339;
  color: #ffffff !important;
  display: inline-block;
}

.ap-tab-content {
  display: inline-block;
  margin: 0 auto !important;
  display: flex;
  justify-content: space-between !important;
}

.carrd {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  padding: 20px 15px 40px;
  border-radius: 14px;
  max-width: 299px;
  text-align: center;
  margin-bottom: 20px;
}
.carrd .taom {
  width: 100%;
}
.carrd span {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
  margin-top: 10px;
  margin-bottom: 20px;
}
.carrd h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding-top: 16px;
  color: #BB2339 !important;
}

.regular__carddd {
  position: relative;
}

.qaychi {
  position: absolute;
  right: 15px;
  top: -150px;
}

.ap-tab-content .active-tab {
  display: inline-block;
}

.ap__tab--content h3 {
  margin-top: 100px;
  font-family: "PLUS Rounded";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 28px;
  color: #bb2339;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

.ap-tab-container {
  margin-top: 30px;
}

#testimony {
  background: #F4F4F4;
}
#testimony .maria .maria__content {
  text-align: center;
}
#testimony .maria .maria__content h3 {
  padding-top: 60px;
  color: #242424;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
#testimony .maria .maria__content h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

@media (min-width: 570px) {
  .maria__content h3 {
    font-size: 24px !important;
  }
  .maria__content h2 {
    font-size: 48px !important;
  }
  .global__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .ap-tab-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .ap__tab--content h3 {
    font-size: 48px;
    margin-bottom: 30px;
  }
}
.corousel_2 .owl-nav button.owl-next,
.corousel_2 .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: transparent;
  color: #242424 !important;
  border: 1px solid #242424 !important;
  padding: 10px !important;
  font: 20px !important;
  width: 40px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.corousel_2 .owl-nav button.owl-next:hover,
.corousel_2 .owl-nav button.owl-prev:hover,
.owl-carousel button.owl-dot:hover {
  color: #242424 !important;
  background-color: transparent;
  border-color: #BB2339 !important;
}

@media (min-width: 870px) {
  .ap-tab-container {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .chase__top {
    display: flex;
  }
  .chase__top .chase__top--left {
    width: 50%;
    margin-top: 100px;
  }
  .chase__top .chase__top--left h4 {
    font-size: 23px;
  }
  .chase__top .chase__top--left h1 {
    font-size: 90px;
  }
  .chase__top .chase__top--left p {
    font-size: 16px;
  }
  .chase__top .chase__top--right {
    width: 50%;
    margin-bottom: 200px;
  }
  .owl-theme .owl-nav [class*=owl-next] {
    font-size: 28px !important;
    top: -87px;
  }
  .owl-theme .owl-nav [class*=owl-prev] {
    font-size: 28px !important;
    top: -87px;
  }
  .corousel1 h3 {
    font-size: 48px;
    padding-bottom: 40px;
  }
}
.news_content {
  text-align: center;
}
.news_content h4 {
  margin-top: 90px;
  margin-bottom: 9px;
  font-family: "PLUS Rounded";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  color: #242424;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
.news_content h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #242424;
  margin-top: 9px;
  line-height: 130%;
  color: #BB2339;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

.news__cardd {
  padding-bottom: 80px;
}

.news__box .news__card {
  margin-top: 35px;
  width: 100%;
  background: #FFFFFF;
  background: #FFFFFF;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
}
.news__box .news__card img {
  width: 100%;
}
.news__box .news__card .news__card--content {
  padding: 20px 15px 30px;
}
.news__box .news__card .news__card--content h2 {
  font-style: normal;
  font-weight: 500;
  color: #242424;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
.news__box .news__card .news__card--content p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #AAAAAA;
  margin-bottom: 20px;
}
.news__box .news__card .news__card--content .read {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__box .news__card .news__card--content .read h4 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #BB2339;
  letter-spacing: 0.04em;
}

.news__btn {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
}
.news__btn a {
  font-style: normal;
  font-weight: 700;
  color: #242424;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  border: 2px solid #BB2339;
  border-radius: 25px;
  padding: 15px 35px;
  transition: 0.5s;
}
.news__btn a:hover {
  background-color: #BB2339;
  color: #ffffff;
}

#videos {
  background-image: url(../../images/home/MaskGroup.png);
  height: 80vh;
  background-repeat: repeat-x;
  margin-top: 100px;
  margin: 0 auto;
}
#videos .btnmodal {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header {
  background-color: #BB2339;
  color: #ffffff;
}

.modal-body {
  background-color: #b83c3c;
}

.modal-footer {
  background-color: #BB2339;
}

.btn-secondary {
  background-color: #e94c4c;
  border-color: #e94c4c;
}
.btn-secondary:hover {
  background-color: #ffffff;
  color: #242424;
}

.btn-primary {
  background-color: #e94c4c;
  border-color: #e94c4c;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #242424;
}

#galarey {
  background-color: #F4F4F4;
  padding: 100px 0;
  margin-top: 80px;
}

.intagram {
  width: 100%;
}
.intagram h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: #242424;
  font-feature-settings: "tnum" on, "lnum" on;
}
.intagram h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #242424;
  line-height: 130%;
  margin-bottom: 8px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
.intagram p {
  font-style: normal;
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 175%;
  /* or 28px */
  letter-spacing: 0.04em;
  color: #AAAAAA;
}
.intagram a {
  font-style: normal;
  font-weight: 700;
  color: #242424;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  border: 2px solid #bb2339;
  border-radius: 25px;
  padding: 15px 35px;
  transition: 0.5s;
}
.intagram a:hover {
  background-color: #bb2339;
  color: #fff;
}

.insta__carousel {
  margin: 0;
  margin-top: 35px;
  width: 60%;
  gap: 20px;
}
.insta__carousel .item {
  margin: 0 15px;
}
.insta__carousel .item1 {
  background-image: url(../../images/home/last1.png);
  padding: 0;
  height: 447px;
  width: 301px;
  overflow: hidden;
  position: relative;
  z-index: -23;
  cursor: pointer;
}

.item2 {
  background-image: url(../../images/home/dfgdg.png) !important;
}

.qora_fon {
  opacity: 0;
  position: absolute;
  transition: 0.5s;
}

.intsaimg {
  position: absolute;
  width: 80px !important;
  z-index: 99;
  top: 40%;
  left: 35%;
  opacity: 0;
  transition: 0.5s;
}

.item1:hover .intsaimg {
  opacity: 1;
}

.item1:hover .qora_fon {
  opacity: 0.8;
}

@media (min-width: 850px) {
  .photo {
    display: flex;
  }
  .intagram {
    width: 35%;
    padding-bottom: 230px;
  }
  .insta__carousel {
    width: 60%;
    position: absolute;
    left: 35%;
  }
  #videos {
    margin-top: 150px;
  }
  .news__cardd {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 980px) {
  .ap-tab-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .news__cardd {
    grid-column-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
  .global__menu {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1150px) {
  .ap-tab-list {
    display: flex;
  }
}