* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}
@font-face {
  font-family: "PLUS Rounded";
  src: url(../../fonts/MPLUSRounded1c-Medium.ttf);
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url(../vendors/fonts/MPLUSRounded1c-Medium.ttf);
}
#chase {
  padding-top: 130px;
  background-color: #BB2339;
}

.chase__top--left h4 {
  font-weight: 700;
  font-size: 16px;
  font-family: "PLUS Rounded";
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
.chase__top--left h1 {
  font-style: normal;
  font-weight: 700;
  font-family: "PLUS Rounded";
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0.04em;
  padding-top: 25px;
  color: #ffffff;
  padding-bottom: 20px;
  text-transform: capitalize;
  max-width: 5200px;
}
.chase__top--left p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.7;
  max-width: 430px;
  padding-bottom: 45px;
}
.chase__top--left a {
  font-family: "PLUS Rounded";
  font-style: normal;
  border: 1px solid #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  border-radius: 20px;
  /* identical to box height, or 28px */
  padding: 10px 18px;
  letter-spacing: 0.04em;
  opacity: 0.8;
  max-width: 260px;
  color: #FFFFFF;
  margin: 0 auto;
}

.chase__top--right {
  width: 100%;
  margin-top: 55px;
  padding-bottom: 80px;
}
.chase__top--right img {
  width: 100%;
}

.corousel1 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
  font-family: "PLUS Rounded";
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

.owl-dots {
  display: none !important;
}

#popular__menu {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.item {
  background-color: #ffffff;
  padding: 20px 15px 40px;
  border-radius: 14px;
}
.item p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #242424;
  margin-top: 10px;
  margin-bottom: 20px;
}
.item .yulduzlar {
  width: 60% !important;
  text-align: center;
  margin: 0 auto;
}
.item h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding-top: 16px;
  color: #BB2339;
}

.owl-theme {
  position: relative;
}

.corousel1 h3 {
  font-family: "PLUS Rounded";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 28px;
  color: #BB2339;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

.owl-theme .owl-nav [class*=owl-next] {
  color: #242424;
  font-size: 18px !important;
  margin: 30px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  width: 45px;
  position: absolute;
  top: -70px;
  right: 20px;
  border: 2px solid rgb(224, 16, 16) !important;
}

.owl-theme .owl-nav [class*=owl-prev] {
  color: #242424;
  font-size: 18px !important;
  margin: 30px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  width: 45px;
  position: absolute;
  top: -70px;
  right: 80px;
  border: 2px solid rgb(224, 16, 16) !important;
}

.element.style {
  display: inline-block !important;
}

.ap-tab-list {
  grid-gap: 15px;
}
.ap-tab-list .ap-tab-item {
  border: 1px solid #BB2339;
  border-radius: 25px;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  transition: 0.5s;
}
.ap-tab-list .ap-tab-item .ap-tab-link {
  color: #242424 !important;
}

.ap-tab-content {
  display: grid !important;
  grid-gap: 20px !important;
}

#regular__menu {
  background: #E5E5E5;
}

.carrd {
  display: inline-block !important;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  padding: 20px 15px 40px;
  border-radius: 14px;
  width: 100%;
  text-align: center;
}
.carrd .taom {
  width: 100%;
}
.carrd span {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
  margin-top: 10px;
  margin-bottom: 20px;
}
.carrd h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding-top: 16px;
  color: #BB2339 !important;
}

@media (min-width: 570px) {
  .global__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .ap-tab-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 870px) {
  .chase__top {
    display: flex;
  }
  .chase__top .chase__top--left {
    width: 50%;
    margin-top: 100px;
  }
  .chase__top .chase__top--left h4 {
    font-size: 23px;
  }
  .chase__top .chase__top--left h1 {
    font-size: 90px;
  }
  .chase__top .chase__top--left p {
    font-size: 16px;
  }
  .chase__top .chase__top--right {
    width: 50%;
    margin-bottom: 200px;
  }
  .owl-theme .owl-nav [class*=owl-next] {
    font-size: 28px !important;
    top: -87px;
  }
  .owl-theme .owl-nav [class*=owl-prev] {
    font-size: 28px !important;
    top: -87px;
  }
  .corousel1 h3 {
    font-size: 48px;
    padding-bottom: 40px;
  }
}
@media (min-width: 980px) {
  .ap-tab-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .global__menu {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1150px) {
  .ap-tab-list {
    display: flex;
  }
}